<DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'/>
		<title>Banco XYZ</title>
		<link href='<?php echo BASE_URL;?>assets/css/cadastro.css' rel='stylesheet' type='text/css'/>
	</head>	
	<body>
		<div = class='container-principal'>
			<div class='linha1'>
				<div class='container-cadastro'>
					<h2>Parabéns por se cadastrar!</h2>
					<p>Anote os dados abaixo para você realizar o login.</p>
					<hr>
					<p><strong>Agencia:</strong> <?php echo $agencia;?></p>
					<p><strong>Conta:</strong> <?php echo $conta;?></p>
					<button><a href='<?php echo BASE_URL;?>'>Clique aqui para retornar a página de login.</a></button>
				<div>
			</div>
		</div>		
	</body>	
</html>